.login-page-container {
    background-image: url('../images/Wallpaper/8.jpg');
    background-size:cover;
}


.required::after {
    content: ' *';
    color: red;
}

.overflow,
.circle-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-line {
    z-index: 9999;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle-2,
.circle-1 {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin: 10px;
}

.circle-2 {
    animation: movingUp 0.5s infinite alternate;
    text-align: center;
    padding-top: 8px;
}

.circle-1 {
    animation: movingUp 0.5s 0.2s infinite alternate;
    text-align: center;
    padding-top: 8px;
}

.loader-icon-image {
    height: 40px;
    width: 40px;
}

/* CSS ANIMATION */

@keyframes movingUp {
    from {
        top: 0px;
    }
    to {
        top: -30px;
    }
}

.avatar {
    width: 40px;
    height: auto;
}
